html {
    cursor: url(../images/nat733) 34 34, auto;
}

@font-face {
    font-family: "Quicksand Regular";
    src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Quicksand Light";
    src: url(../fonts/Quicksand-Light.ttf) format("truetype");
}

p, input, button, h1, h2, h3, h4, h5, h6, td, th, li {
    font-family: "Quicksand Regular", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: normal;
    color: #333333;
    text-align: center;
}

.ball-area {
    position: absolute;
    text-align: center;
    background: #ecf2fe;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#canvas {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ball {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0;
    /*background: radial-gradient(circle at 30px 33px, #5cabff, #000);*/
    background: radial-gradient(circle at 30px 30px, #ff8282, rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    z-index: 1;
}

h1#title-text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 50px;
    margin: 25px auto;
    width: 100%;
}

h5#subtitle-text {
    position: absolute;
    top: 65px;
    left: 0;
    margin: 20px auto;
    width: 100%;
}

#score-container {
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
}

#score-num {
    font-family: "Quicksand Light";
    font-size: 250px;
    color: #d4e1fd;
    line-height: 155px;
}

#credit {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 40px;
}